html, body  {
  text-align: center;
  font-family: sans-serif;
}

header {
  background-color: rgb( 12, 88, 44 );
  height: 100px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 15px grey;

}

h1 {
  color: white;
  position: absolute;
  top: -10px;
  left: 0;
  right: 0;
}

.logo {
  position: absolute;
  top: 0;
  left: 10px;
  max-width: 250px;
  max-height: 100px;
}

nav {
  position: absolute;
  bottom: 0;

  margin-left: auto;
  margin-right: auto;

  left: 0;
  right: 0;
}

main {
  position: absolute;
  top: 130px;
  left: 0;
  right: 0;
  bottom: 100px;
  /* margin-top: 130px;/ */
  /* margin-bottom: 100px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden; */
}

footer {

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #b1cd49;
  padding: 15px;
  font-size: 12px;

}

/* DIV tables */
.table {
  display: table;

  border: solid 1px black;
  border-collapse: collapse;

  margin: 0 auto;
}

.table_head {
  display: table-header-group;
}

.table_body {
  display: table-row-group;
}

.table_row {
  display: table-row;
}

.table_cell  {
  display: table-cell;

  border: solid 1px black;
  border-collapse: collapse;

  padding: 5px;
  width: 100%;
}
/* --- x --- */


div.table#login {

  width: 20%;

}


.Menu {
  background-color: rgb( 12, 88, 44 );
  color: white;
}
.Menu,
.Menu .table_body,
.Menu .table_row {
  border: none;
}
.Menu .menu_button {
  border: none;
  padding: 0px;
  width: 200px;
}
.Menu .menu_button a {
  display: block;
  height: 100%;
  width: 100%;

  color: white;
  text-decoration: none;
  padding: 12px;
}
.Menu .menu_button a:hover {
  background-color: #b1cd49;
  color: black;
}



div.Grid  {
  /* border: solid 1px black; */
}
div.Grid table {
  clear: both;
  /* float: center; */
  margin: 0 auto;

}

div.Grid table, div.Grid thead, div.Grid tbody, div.Grid tr, div.Grid th, div.Grid td {
  border: solid 1px black;
  border-collapse: collapse;
}

div.Grid th, div.Grid td {
  padding: 5px 5px 5px 5px;
  max-width: 9.6vw;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  direction: ltr;
}

div.Grid th input,select {
  max-width: 99%;
}


div.popup {
  text-align: center;
  width: 30%;

  background-color: white;

  position: relative;
  top: 20%;

  box-shadow: 0 0 15px grey;
}

div.popup_wrapper {
  background-color: rgba( 127, 127, 127, 0.7 );
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

div.popup,
div.popup div.table_head,
div.popup_head div.table_row,
div.popup_title_cell
{
  border: none;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.popup_title_cell {
  background-color: rgb( 12, 88, 44 );
  color: white;
  position: relative;
  height: 40px;
  vertical-align: middle;
}
.popup_close_button {
  position: absolute;

  top: 5px;

  right: 5px;
  float: right;
  width: 30px;
  height: 30px;

  background-image: url( '/MediaShare/static/img/close.png' );
  background-size: contain;
  /* display: block; */
}
.popup_title {
  position: relative;
  float: center;
  /* display: block; */
}
.popup_body,
.popup_body .table,
.popup_body .table_row,
.popup_body .table_cell {
  border: none;
}
.popup_body .table_cell {
  padding: 15px;
}


.inline-icon {
  height: 30px;
  width: 30px;
}

.exit-button  {
  height: 40px;
  width: 40px;

  position: absolute;
  top: 5px;
  right: 5px;
}


.Selector {
  border: dotted 1px black;
  padding: 5px;
}
.Selector table {
  border: solid 1px black;
  border-collapse: collapse;
  width: 100%;
}
.Selector td, th {
  border: solid 1px black;
}

.Selector_items_table {
  text-align: center;
}
.Selector_items_table th:first-child,
.Selector_items_table td:first-child {
  width: 85%;
}
.Selector_items_table th:last-child,
.Selector_items_table td:last-child {
  width: 15%;
}
.Selector_table_wrapper {
  height: 400px;
  overflow-y: auto;
  position: absolute;
  z-index: 500;
}
.Selector_table {
  background-color: white;
  border: solid 2px black;
  border-collapse: collapse;
  width: 100%;
}
.Selector_table td, th {
  border: solid 1px black;
}


.AutoComplete_table {
  position: absolute;
  z-index: 500;
  background-color: white;
  border: solid 2px black;
  border-collapse: collapse;
  max-height: 400px;
  overflow-y: auto;
}

.AutoComplete_table td, th {
  border: solid 1px black;
}
